In [39]:
#导入第三方包
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import scipy.stats.mstats as mst

import matplotlib as mpl


plt.style.use('ggplot')

#设定目录及读取数据文件
dir = './data/prophet/'
df = pd.read_table(dir + 'train_20171215.txt',engine='python')
test_A = pd.read_table(dir + 'test_A_20171225.txt',engine='python')
sample_A = pd.read_table(dir + 'sample_A_20171225.txt',engine='python',header=None)
sample_A.columns = ['date','day_of_week']

In [40]:
#合并一日期下各品牌效率
#df = df.groupby(['date','day_of_week','brand'],as_index=False).cnt.sum()
df2=df.groupby(['date','day_of_week'],as_index=False).cnt.sum()
df['day_of_week']=df['day_of_week'].astype('category')

In [41]:
df2.head(10)

   date  day_of_week   cnt
0     1            3    68
1     2            4    36
2     3            5  5565
3     4            6  4966
4     5            7  3346
5     6            1  3396
6     7            2  4146
7     8            3  3096
8     9            4  2713
9    10            5  2409

In [42]:
df2.to_csv(dir + 'testfomodel.csv',index=False)

In [43]:
df3into=df2[['date','day_of_week','cnt']]
df3into.head(10)

   date  day_of_week   cnt
0     1            3    68
1     2            4    36
2     3            5  5565
3     4            6  4966
4     5            7  3346
5     6            1  3396
6     7            2  4146
7     8            3  3096
8     9            4  2713
9    10            5  2409

In [44]:
from sklearn.externals import joblib
brand1=df3into
brand1['brand']=1
data1=brand1[['day_of_week','date']]
model=['LR_brand','RF_brand', 'DT_brand','ADA_brand','XGB_brand']
for i in model:
    model = joblib.load(dir+i+'1.pkl')
    brand1[i]=model.predict(data1)

In [45]:
brand1.to_csv(dir + 'brand1-t.csv',index=False)

In [46]:
brand2=df3into
brand2['brand']=2
data2=brand2[['day_of_week','date']]
model=['LR_brand','RF_brand', 'DT_brand','ADA_brand','XGB_brand']
for i in model:
    model = joblib.load(dir+i+'2.pkl')
    brand2[i]=model.predict(data2)
    
brand2.to_csv(dir + 'brand2-t.csv',index=False)

In [47]:
brand3=df3into
brand3['brand']=3
data3=brand3[['day_of_week','date']]
model=['LR_brand','RF_brand', 'DT_brand','ADA_brand','XGB_brand']
for i in model:
    model = joblib.load(dir+i+'3.pkl')
    brand3[i]=model.predict(data3)
brand3.to_csv(dir + 'brand3-t.csv',index=False)

In [48]:
brand4=df3into
brand4['brand']=4
data4=brand4[['day_of_week','date']]
model=['LR_brand','RF_brand', 'DT_brand','ADA_brand','XGB_brand']
for i in model:
    model = joblib.load(dir+i+'4.pkl')
    brand4[i]=model.predict(data4)
brand4.to_csv(dir + 'brand4-t.csv',index=False)

In [49]:
brand5=df3into
brand5['brand']=5
data5=brand5[['day_of_week','date']]
model=['LR_brand','RF_brand', 'DT_brand','ADA_brand','XGB_brand']
for i in model:
    model = joblib.load(dir+i+'5.pkl')
    brand5[i]=model.predict(data5)
brand5.to_csv(dir + 'brand5-t.csv',index=False)

In [50]:
brand2.head()

,date,day_of_week,cnt,brand,LR_brand,RF_brand,DT_brand,ADA_brand,XGB_brand
0,1,3,68,5,481.547605,48,48,419,618
1,2,4,36,5,416.043838,585,585,419,321
2,3,5,5565,5,350.540072,1242,1242,419,618
3,4,6,4966,5,285.036305,129,129,25,51
4,5,7,3346,5,219.532539,602,602,1242,22